<nav>
    <a href="/dashboard" id="logoimg"><img src="/images/log.png" alt=""></a>

    <div class="left">

        <a href="/dashboard">Home</a>
        <a href="/reset">Reset Password</a>
        <a href="/logout">Logout</a>
        
    </div>
</nav>