<%- include("header")%>
    <h2>This is Send Mail Page</h2>

    <form action="/sendmail" method="POST">
        <input type="email" name="email" placeholder="Email" />
        <button>Send Mail</button>

    </form>
    <a href="/returns"><i class="ri-arrow-left-circle-fill"></i></a>


    <%- include("footer")%>